

.coffeImage {
  width: 101px;
  height: 101px;
  position: absolute;
  bottom: 300px;
  left: 50%;
  transform: translateX(-50%);
 
}


.hero {
    position: relative;
    height: 100vh;
    width: 100vw;
    margin-bottom: 40px;
  }

  .hero::before {
    position: absolute;
    content: '';
    width: 100%;
    height: 100%;
    background-color: #0000001c;
  }




  
  .textContainer {
    position: absolute;
    bottom: 300px;
    left: 50px;
   
    left: 50%;
    transform: translateX(-50%);
   text-align: center;
   
   
  }
  

  .textContainer .title {
    text-transform: uppercase;
  
  }

  
  .textContainer .title,
  .textContainer .text {
    color: white;
  }


  .textContainer .text {

    font-size: 18px ;
    line-height: 26px ;
    margin-bottom: 24px ;
    margin-top: 12px ;
    margin-left: 24px ;
    margin-right: 24px ;
    max-width: 327px ;
    white-space: pre-line ;
    

  }

  @media (min-width: 744px) {
    .textContainer .text {
      font-size: 18px ;
      line-height: 26px ;
      margin-left: 0px ;
      margin-right: 0px ;
      max-width: 600px ;
    }

    .textContainer .title {
      margin-left: 0px ;
      /* margin-right: 0px ;
      max-width: 316px ;
      font-size: 38px ;
      line-height: 44px ; */
    }
}
  
  @media only screen and (max-width: 767px) {
    .textContainer {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
    }
    .heroButton {
      position: absolute;
      left: 50%;
      transform: translateX(-50%);

    }
  }

  .heroButton {
   background-color: transparent;
   color: white;
   border: 1px solid white;
  }