.listItemLink {
  color: white;
  text-decoration: none;
}

.listItemLinkSub {
    color: black;
    text-decoration: none;
    position: absolute;
    top: 30px;
    display: none;
    visibility: hidden;
    opacity: 0;
    background: white;
    padding: 10px;
    
}

.listItem {
    position:relative;
  
}

.listItemChild {
    min-width: 200px;
    padding:5px 5px 5px 5px;
}
.hasChildren {
    padding:0 20px 20px 20px
}

.listItem:hover > ul {
    display: block;
    opacity: 1;
    overflow: hidden;
    transform: translate(0);
    transition: all .5s ease-in-out;
    visibility: visible;
    

}



/* .listItemLinkSub::hover {
    display: flex;
opacity: 1;
overflow: hidden;
transform: translate(0);
transition: all .5s ease-in-out;
visibility: visible;
} */

.column {
    flex:1 1 75%;
}

.navList {
    display: none;
}

@media screen and (min-width: 1025px) {
    .navList {
        display: flex;
        justify-content: space-around;
        max-width: 50%;
        margin-left: auto;
    }
}

.burgerMenu {
    display: block;
}

@media screen and (min-width: 1025px) {
    .burgerMenu {
        display: none;
   }
}